---
- name: Validate uniqueness of connection names
  assert:
    that: >
      vpn_gateway_configs | map(attribute='name') | list | unique | count
      ==
      vpn_gateway_configs | map(attribute='name') | list | count
    fail_msg: Variables 'vpn_gateway_configs.name' are not unique

- name: Validate remote and local IP addresses
  assert:
    that:
      - item.local.public | ipaddr
      - item.remote.public | ipaddr
    fail_msg: "Verify IP configuration of vpn_gateway_configs.{{ item.name }}. At least one is not a valid IP address."
  loop: "{{ vpn_gateway_configs }}"

- name: Validate PSK
  assert:
    that: item.psk | length > 0
    fail_msg: "Variable 'psk' is not correct for vpn_gateway_configs with name: {{ item.name }}"
  loop: "{{ vpn_gateway_configs }}"
