{{ ansible_managed|comment }}

{% for connection in vpn_gateway_connections %}
# {{ connection.left }} -> {{ connection.right }}
conn {{ connection.name }}
{% for param_key in connection %}
{% if param_key != 'name' %}
    {{ param_key }}={{ connection[param_key] }}
{% endif %}
{% endfor %}
{% endfor %}
