{{ ansible_managed|comment }}

{% for config in vpn_gateway_configs %}
{% if (config.state | default('present')) == 'present' %}
{% if config.psk is defined %}
{{ config.local.public }} {{ config.remote.public }} : PSK {{ config.psk }}
{% endif %}
{% if config.private_key is defined %}
: RSA {{ config.private_key }}
{% endif %}
{% endif %}
{% endfor %}
